@model Dukan.Models.Master.ShopCustomer

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>
<!-- Row start -->
<div class="row">
    <div class="col-xxl-12">
        <div class="card shadow mb-4">
            <!-- Card Header -->
            <div class="card-header">
                <h5 class="card-title">Shop Customer Details</h5>
            </div>

            <!-- Card Body -->
            <div class="card-body">
                <div class="row">
                    <!-- Column 1 -->
                    <div class="col-lg-6 col-sm-12">
                        <dl class="row">
                            <dt class="col-sm-4">
                                @Html.DisplayNameFor(model => model.ScusName)
                            </dt>
                            <dd class="col-sm-8">
                                @Html.DisplayFor(model => model.ScusName)
                            </dd>
                            <dt class="col-sm-4">
                                @Html.DisplayNameFor(model => model.ScusAdd)
                            </dt>
                            <dd class="col-sm-8">
                                @Html.DisplayFor(model => model.ScusAdd)
                            </dd>
                            <dt class="col-sm-4">
                                @Html.DisplayNameFor(model => model.ScusShopName)
                            </dt>
                            <dd class="col-sm-8">
                                @Html.DisplayFor(model => model.ScusShopName)
                            </dd>
                        </dl>
                    </div>
                    <!-- Column 2 -->
                    <div class="col-lg-6 col-sm-12">
                        <dl class="row">
                            <dt class="col-sm-4">
                                @Html.DisplayNameFor(model => model.JoindDate)
                            </dt>
                            <dd class="col-sm-8">
                                @Html.DisplayFor(model => model.JoindDate)
                            </dd>
                            <dt class="col-sm-4">
                                @Html.DisplayNameFor(model => model.ScusMobileNo)
                            </dt>
                            <dd class="col-sm-8">
                                @Html.DisplayFor(model => model.ScusMobileNo)
                            </dd>
                            <dt class="col-sm-4">
                                @Html.DisplayNameFor(model => model.ScusAddharNo)
                            </dt>
                            <dd class="col-sm-8">
                                @Html.DisplayFor(model => model.ScusAddharNo)
                            </dd>
                            <dt class="col-sm-4">
                                @Html.DisplayNameFor(model => model.ScusGSTNo)
                            </dt>
                            <dd class="col-sm-8">
                                @Html.DisplayFor(model => model.ScusGSTNo)
                            </dd>
                        </dl>
                    </div>
                </div>
            </div>

            <!-- Card Footer -->
            <div class="card-footer">
                <div class="d-flex gap-2 justify-content-end">
                    <a asp-action="Edit" asp-route-id="@Model?.SCusId" class="btn btn-primary">
                        Edit
                    </a>
                    <a asp-action="Index" class="btn btn-outline-secondary">
                        Back to List
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Row end -->
