@model Dukan.Models.Master.ShopDetail

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Row start -->
<div class="row">
    <div class="col-xxl-12">
        <div class="card shadow mb-4">
            <!-- Card Header -->
            <div class="card-header">
                <h5 class="card-title">Delete Shop Detail</h5>
            </div>

            <!-- Card Body -->
            <div class="card-body">
                <h3>Are you sure you want to delete this?</h3>

                <div>
                    <h4>Shop Detail Information</h4>
                    <hr />
                    <dl class="row">
                        <!-- Shop Owner Name -->
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.ShopOwnerName)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.ShopOwnerName)
                        </dd>

                        <!-- Shop Name -->
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.ShopName)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.ShopName)
                        </dd>

                        <!-- Shop Number -->
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.ShopNumber)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.ShopNumber)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.AlternateMobileNumber)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.AlternateMobileNumber)
                        </dd>
                        <!-- Shop Address -->
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.ShopAddress)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.ShopAddress)
                        </dd>

                        <!-- Shop GST Number -->
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.ShopGSTNo)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.ShopGSTNo)
                        </dd>
                    </dl>
                </div>

                <!-- Delete Form -->
                <form asp-action="Delete">
                    <input type="hidden" asp-for="SpDetId" />
                    <div class="d-flex gap-2 justify-content-end">
                        <input type="submit" value="Delete" class="btn btn-danger" />
                        <a asp-action="Index" class="btn btn-outline-secondary">
                            Back to List
                        </a>
                    </div>
                </form>
            </div>

            <!-- Card Footer -->
            <div class="card-footer">
                <div class="d-flex gap-2 justify-content-end">
                    <a asp-action="Index" class="btn btn-outline-secondary">
                        Back to List
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Row end -->


@* 
<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>ShopDetail</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShopOwnerName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShopOwnerName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShopName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShopName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShopNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShopNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShopAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShopAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShopGSTNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShopGSTNo)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="SpDetId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
 *@